body {
    margin: 0;
    padding: 0;
    /* add font family */
}

ul {
    display:flex;
    gap: 15px;
    list-style: none;
    justify-content: flex-end;
}


.header {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 70px;
    padding-top: 10px;
}    

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    padding-left: 13px;
}

.logo, ul, .main-text, .secondary-text {
    width: 500px;
}

.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.main-text, .img1 {
    margin-top: 40px;
}

.button {
    background-color: #3882F6;
    font-size: 22px;
    color: #E5E7EB;
    border-radius: 10%;
    padding: 5px;
    width: 125px;
    font-weight: 600;
}

.img2 {
    width: 200px;
    height: auto;
    border-radius: 15%;
}

.info-text {
    text-align: center;
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 800px;
    margin: 0;
}

.blue-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    background-color: #3882F6;
    width: 1000px;
    height: 125px;
    margin: auto;
    margin-top: 50px;
    border-radius: 2.5%;
}

.blue-box-maintext {
    font-size: 25px;
    font-weight: 800;
    color: #E5E7EB;
    margin-bottom: 0;
}

.blue-box-subtext {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 0;
}

.button2 {
    width: 100px;
    height: 35px;
    border-radius: 10%;
    background-color: #3882F6;
    color: #E5E7EB;
    border-color: #E5E7EB;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    margin-top: 50px;
    height: 80px;
    font-size: 22px;
    font-weight: 800;
    color: #E5E7EB;
}
